<p id="notice"><%= notice %></p>

<p>
  <strong>Employee no:</strong>
  <%= @employee.employee_no %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @employee.employee_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @employee.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Primary email address:</strong>
  <%= @employee.primary_email_address %>
</p>

<p>
  <strong>Secondary email address:</strong>
  <%= @employee.secondary_email_address %>
</p>

<p>
  <strong>Primary contact no:</strong>
  <%= @employee.primary_contact_no %>
</p>

<p>
  <strong>Secondary contact no:</strong>
  <%= @employee.secondary_contact_no %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @employee.permanent_address %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @employee.unit %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Employee type:</strong>
  <%= @employee.employee_type %>
</p>

<p>
  <strong>Employement status:</strong>
  <%= @employee.employement_status %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @employee.rank %>
</p>

<p>
  <strong>Original assignment:</strong>
  <%= @employee.original_assignment %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
