<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :TransactionNo %>
    <%= form.text_field :TransactionNo, id: :transaction_TransactionNo %>
  </div>

  <div class="field">
    <%= form.label :ApplicationDate %>
    <%= form.text_field :ApplicationDate, id: :transaction_ApplicationDate %>
  </div>

  <div class="field">
    <%= form.label :LeaveType %>
    <%= form.text_field :LeaveType, id: :transaction_LeaveType %>
  </div>

  <div class="field">
    <%= form.label :LeaveStatus %>
    <%= form.text_field :LeaveStatus, id: :transaction_LeaveStatus %>
  </div>

  <div class="field">
    <%= form.label :DevelopmentType %>
    <%= form.text_field :DevelopmentType, id: :transaction_DevelopmentType %>
  </div>

  <div class="field">
    <%= form.label :DegreePursued %>
    <%= form.text_field :DegreePursued, id: :transaction_DegreePursued %>
  </div>

  <div class="field">
    <%= form.label :Institution %>
    <%= form.text_field :Institution, id: :transaction_Institution %>
  </div>

  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location, id: :transaction_Location %>
  </div>

  <div class="field">
    <%= form.label :Country %>
    <%= form.text_field :Country, id: :transaction_Country %>
  </div>

  <div class="field">
    <%= form.label :SponsorDonor %>
    <%= form.text_field :SponsorDonor, id: :transaction_SponsorDonor %>
  </div>

  <div class="field">
    <%= form.label :LocalAbroad %>
    <%= form.text_field :LocalAbroad, id: :transaction_LocalAbroad %>
  </div>

  <div class="field">
    <%= form.label :StartDate %>
    <%= form.text_field :StartDate, id: :transaction_StartDate %>
  </div>

  <div class="field">
    <%= form.label :EndDate %>
    <%= form.text_field :EndDate, id: :transaction_EndDate %>
  </div>

  <div class="field">
    <%= form.label :Duration %>
    <%= form.text_field :Duration, id: :transaction_Duration %>
  </div>

  <div class="field">
    <%= form.label :ReportForDuty %>
    <%= form.text_field :ReportForDuty, id: :transaction_ReportForDuty %>
  </div>

  <div class="field">
    <%= form.label :ReturnServiceObligation %>
    <%= form.text_field :ReturnServiceObligation, id: :transaction_ReturnServiceObligation %>
  </div>

  <div class="field">
    <%= form.label :ReturnServiceObligationStatus %>
    <%= form.text_field :ReturnServiceObligationStatus, id: :transaction_ReturnServiceObligationStatus %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
