<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transactionno</th>
      <th>Applicationdate</th>
      <th>Leavetype</th>
      <th>LeaveDetails</th>
      <th>Leavestatus</th>
      <th>Developmenttype</th>
      <th>Degreepursued</th>
      <th>Institution</th>
      <th>Location</th>
      <th>Country</th>
      <th>Sponsordonor</th>
      <th>Localabroad</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Duration</th>
      <th>Reportforduty</th>
      <th>Returnserviceobligation</th>
      <th>Returnserviceobligationstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.TransactionNo %></td>
        <td><%= transaction.ApplicationDate %></td>
        <td><%= transaction.LeaveType %></td>
        <td><%= transaction.LeaveDetails %></td>
        <td><%= transaction.LeaveStatus %></td>
        <td><%= transaction.DevelopmentType %></td>
        <td><%= transaction.DegreePursued %></td>
        <td><%= transaction.Institution %></td>
        <td><%= transaction.Location %></td>
        <td><%= transaction.Country %></td>
        <td><%= transaction.SponsorDonor %></td>
        <td><%= transaction.LocalAbroad %></td>
        <td><%= transaction.StartDate %></td>
        <td><%= transaction.EndDate %></td>
        <td><%= transaction.Duration %></td>
        <td><%= transaction.ReportForDuty %></td>
        <td><%= transaction.ReturnServiceObligation %></td>
        <td><%= transaction.ReturnServiceObligationStatus %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>

<h2>Import Transactions</h2>

<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>

<p>
  Download:
  <%= link_to "CSV", transactions_path(format: "csv") %>
  <%= link_to "Excel", transactions_path(format: "xls") %>
</p>
